.serviceList {
  display: grid;
  justify-content: center;
  row-gap: 20px;
  column-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 950px) {
  .serviceList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .serviceList {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

.topParagraph {
  text-align: left;
  padding-bottom: 0.625rem;
}

.numStats {
  font-weight: 300;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  position: relative;
  vertical-align: text-bottom;
}

.numStats > * {
  margin-bottom: 0.5rem;
}

.numStats > div {
  display: flex;
  align-items: flex-end;
}
