.pageContainer {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  width: 100%;
  margin-top: 2rem;
  border-top: 1px solid #bfbaff;
  padding-top: 2rem;
}

.lhs {
  padding-right: 60px;
  width: 50%;
}

.rhs {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  padding-left: 60px;
  width: 50%;
}

.text > p {
  margin-bottom: 7px;
}

.projectArea {
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-bottom: 20px;
}

.projectArea h4 {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .projectArea {
    padding: 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
  }
  .pageContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 4rem;
  }

  .lhs {
    padding-right: 0;
    width: 100%;
  }

  .rhs {
    width: 100%;
    border-left: 0;
    padding-left: 0;
  }
}
